export(geneModels)
export(loadBed)
export(normP)
export(geneAttribution)
import(utils)
import(GenomicRanges)
import(org.Hs.eg.db)
import(BiocGenerics)
import(GenomeInfoDb)
import(GenomicFeatures)
import(IRanges)
import(rtracklayer)
